/* Navbar Stilleri */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Navbar'ın en üstte görünmesini sağlar */
}

.hamburger {
  cursor: pointer;
  font-size: 24px;
  z-index: 1200; /* Hamburger ikonunun menüden önce görünmesini sağlar */
  position: relative; /* Z-index'in düzgün çalışması için pozisyon belirtiyoruz */
}

.title {
  font-size: 20px;
  font-weight: bold;
  flex-grow: 1; /* Başlığın boş alanı doldurmasını sağlar */
  text-align: center; /* Başlığı ortalar */
  flex-shrink: 0; /* Başlığın boyutunun küçülmesini engeller */
}

.wallet-info {
  cursor: pointer;
  font-size: 16px;
  color: #ff9800;
  background-color: transparent;
  border: 1px solid #ff9800;
  border-radius: 4px;
  padding: 8px 12px;
  margin-right: 3.5%;
}

/* Side Menu Stilleri */
.side-menu {
  position: fixed;
  top: 0;
  left: -300px; /* Başlangıçta ekranın dışında */
  width: 250px;
  height: 100%;
  background-color: #222;
  padding: 60px 20px 20px 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.4s ease; /* Soldan kayarak açılma animasyonu */
  z-index: 1100;
  display: flex;
  flex-direction: column;
}

.side-menu.open {
  left: 0; /* Menünün soldan kayarak açılması */
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.menu-item {
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 0;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  transition: color 0.3s;
}

.menu-item:hover {
  color: #ff9800;
}

/* Overlay Stili */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}
